---
- name: Directory auto.master.d
  ansible.builtin.file:
    path: /etc/auto.master.d
    state: directory
    mode: "0755"
  tags:
    - autofs
    - auto.master.d

- name: File auto.master
  ansible.builtin.template:
    src: auto.master.map.j2
    dest: /etc/auto.master.d/{{ item.name }}.autofs
    mode: "0644"
  loop: "{{ autofs_maps }}"
  when: autofs_maps is defined
  notify: Restart autofs
  tags:
    - autofs
    - auto.master

- name: Divert /etc/auto.misc
  community.general.dpkg_divert:
    path:
      /etc/auto.{{ item.name }}
    divert:
      /etc/auto.{{ item.name }}.distrib
    rename: true
  loop: "{{ autofs_maps }}"
  notify: Reload autofs
  when:
    - autofs_mounts is defined
    - item.name == "misc"
  tags:
    - autofs
    - volumes
    - divert

- name: Volumes
  ansible.builtin.template:
    src: auto.map.j2
    dest: /etc/auto.{{ item.name }}
    owner: root
    group: root
    mode: "0644"
    backup: true
  loop: "{{ autofs_maps }}"
  when: autofs_mounts is defined
  notify: Reload autofs
  tags:
    - autofs
    - volumes
