---
# tasks file for fail2ban
- name: "packages"
  package:
    name: '{{ item }}'
  with_items: '{{ fail2ban_packages }}'
  tags:
    - fail2ban
    - packages

- name: "{{ fail2ban_jail_local }}"
  template:
    src: 'jail.local.j2'
    dest: "{{ fail2ban_jail_local }}"
  notify:
    - fail2ban restart
  tags:
    - fail2ban
    - config
...
