---
- name: Package
  ansible.builtin.package:
    name: sshfs
    update_cache: true
  when:
    - autofs_mounts is search ("sshfs")
  tags:
    - autofs
    - package

- name: Package
  ansible.builtin.package:
    name: cifs-utils
    update_cache: true
  when:
    - autofs_mounts is search ("cifs")
  tags:
    - autofs
    - package

- name: Package
  ansible.builtin.package:
    name: autofs
    update_cache: true
  tags:
    - autofs
    - package

- name: Service_facts
  ansible.builtin.service_facts:
  tags:
    - autofs
    - facts

- name: OS specific tasks
  ansible.builtin.include_tasks: "{{ ansible_os_family }}.yml"
  tags:
    - autofs
    - auto.master.d
    - auto.master
    - volumes

- name: Override
  when:
    - autofs_timeoutstopsec is defined
    - ansible_service_mgr == 'systemd'
  tags:
    - autofs
    - override
    - systemd
  block:
    - name: Directory
      ansible.builtin.file:
        path: /etc/systemd/system/autofs.service.d
        state: directory
        mode: "0755"
      tags:
        - directory

    - name: Template
      ansible.builtin.template:
        src: override.conf.j2
        dest: /etc/systemd/system/autofs.service.d/override.conf
        mode: "0644"
      notify: Reload systemd
      tags:
        - template
        - file
