---
- name: Line in auto.master
  ansible.builtin.lineinfile:
    path: /etc/auto.master
    regexp: '^.*/misc.*'
    firstmatch: true
    insertafter: '^.*/misc.*'
    line: "/misc /etc/auto.misc --ghost --timeout={{ autofs_timeout }}"
    state: present
    backup: true
  notify: Restart autofs
  tags:
    - autofs
    - auto.master.d

- name: Service
  ansible.builtin.service:
    name: autofs
    enabled: true
    state: started
  when:
    - "'autofs' in services"
    - ansible_service_mgr == "systemd"
  tags:
    - autofs
    - service

- name: Volumes
  ansible.builtin.template:
    src: auto.map.j2
    dest: /etc/auto.misc
    owner: root
    group: root
    mode: "0644"
    backup: true
  when: autofs_mounts is defined
  notify: Reload autofs
  tags:
    - autofs
    - volumes
