---
# handlers file for autofs
- name: Reload autofs
  ansible.builtin.service:
    name: autofs
    state: reloaded
  when:
    - "'autofs' in services"

- name: Restart autofs
  ansible.builtin.service:
    name: autofs
    state: restarted
  when:
    - "'autofs' in services"

- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true
